//	GLOBAL STYLES //
html, body, .container {
	height: 100%;
	width: 100%;
	padding: 0;
}

body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
}

.row {
	padding: 20px 0;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
}

//	NAVIGATION: //
.mp_navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  .mp_navbar {
    height: 80px;
  }
}
@media only screen and (min-width: 1170px) {
  .mp_navbar {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .mp_navbar.is-fixed {
    position: fixed;
    top: -80px;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .mp_navbar.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.mp_secondary-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  li {
  display: inline-block;
  margin-left: 3.2em;
	}
  a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  }
}

@media only screen and (min-width: 1024px) {
  .mp_secondary-nav {
    display: none;
  }
}

.mp_primary-nav-trigger {
	  position: absolute;
	  right: 0;
	  top: 0;
	  height: 100%;
	  width: 50px;
	  border: 1px solid transparent;
  	.mp_menu-text {
  			display: none;
	}
	.mp_menu-icon {
	  display: inline-block;
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  bottom: auto;
	  right: auto;
	  -webkit-transform: translateX(-50%) translateY(-50%);
	  -moz-transform: translateX(-50%) translateY(-50%);
	  -ms-transform: translateX(-50%) translateY(-50%);
	  -o-transform: translateX(-50%) translateY(-50%);
	  transform: translateX(-50%) translateY(-50%);
	  width: 18px;
	  height: 2px;
	  background-color: $accent_orange;
	  -webkit-transition: background-color 0.3s;
	  -moz-transition: background-color 0.3s;
	  transition: background-color 0.3s;
	}
}

.mp_primary-nav-trigger .mp_menu-icon::before, .mp_primary-nav-trigger .mp_menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $accent_orange;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.mp_primary-nav-trigger .mp_menu-icon::before {
  top: -5px;
}
.mp_primary-nav-trigger .mp_menu-icon::after {
  top: 5px;
}
.mp_primary-nav-trigger .mp_menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.mp_primary-nav-trigger .mp_menu-icon.is-clicked::before, .mp_primary-nav-trigger .mp_menu-icon.is-clicked::after {
  background-color: $accent_orange;
}
.mp_primary-nav-trigger .mp_menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.mp_primary-nav-trigger .mp_menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  .mp_primary-nav-trigger {
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .mp_primary-nav-trigger .mp_menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}

.mp_primary-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 2;
  text-align: center;
  padding: 50px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.mp_primary-nav li {
  font-size: 22px;
  font-size: 1.375rem;
  margin: .2em 0;
  text-transform: capitalize;
}
.mp_primary-nav a {
  display: inline-block;
  padding: .4em 1em;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.no-touch .mp_primary-nav a:hover {
  color: white;	
}
.no-touch .mp_primary-nav a:visited {
	color: black;
	text-decoration: none;
	&:hover {
		color: white;
	}
}
.mp_primary-nav .mp_label {
  color: gray;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em;
}
.mp_primary-nav .mp_social-icon {
  display: inline-block;
  margin: 0 .4em;
}

ul.mp_primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  li {
  	letter-spacing: 2px;
  	padding: 30px 0;
  	color: darken($light_gray, 40%);
  	&:first-of-type {
  		padding-top: 80px;
  	}
  	a {
  		font-family: "ralewaymedium";
  		text-transform: uppercase;
  		border: 1px solid transparent;
  		&:hover {
  			background: transparent;
  			color: $light_gray;
  		}
  		&:visited, &:focus {
  			color: darken($light_gray, 70%);
  		}
  	}
  }
}
li.mp_navbar-label {
	padding: 60px 0 10px;
}
li.mp_navbar_social-icon, li.mp_navbar_contact-icon {
	display: inline-block;
}
li.mp_navbar_contact-icon img {
	height: 40px;
	padding: 0 10px;
}

@media only screen and (min-width: 768px) {
  .mp_primary-nav {
    padding: 80px 0;
  }
}

.mp_contact-icon {
		display: inline-block;
	img {
	height: 45px;
	display: inline-block;
	margin: 14px;
	}
}
