//TYPOGRAPHY //

//	TYPOGRAPHY AND FONT INCLUDES: //
@font-face {
  font-family: 'Baron';
  src: url('./fonts/baron_neue-webfont.woff') format('woff'), /* Pretty Modern Browsers */
     
}
@font-face {
  font-family: 'elegantlux-mager';
  src: url('./fonts/elegantlux-mager.woff') format('woff'), /* Pretty Modern Browsers */
}

//  DOCUMENT LEVEL FONT-SIZE ADJUSTMENTS  //
html {
	font-family: "Baron";
	font-size: 17px;		}
body {
	font-family: "Baron";
}
@media screen and (max-width: 900px) {
	html { font-size: 15px; }
}

@media screen and (max-width: 400px) {
	html { font-size: 14px; }
}

// TYPOGRAPHY 
section {
	background: white;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
	letter-spacing: 2px;
}
h1 {
	@include em(20);;
}
a {
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	padding: 7px 10px;
	@include transition(background, 2s, ease, 0);;
	&:hover {
		text-decoration: none;
		border: 1px solid transparent;
		@include transition(all, 2s, ease, 0);;
	}
	&:visited {
		&:hover {
			color: white;
		}
		@include transition(all, 2s, ease, 0);;
		color: black;
	}
}
p {
	font-family: "ralewaylight";
	line-height: 175%;
	letter-spacing: 1px;
	text-align: center;
}

//SITE MODULES
#mp_header {
	@include rem(32);;
	h1 {
		@include em(18);;
	}
}
section {
	@include rem(20);;
}