

//	HOME  //
#mp_hm__background {
	position: relative;
	background: url('../imgs/frantic2.jpg') center center;
	background-size: cover;
	background-attachment: fixed;
	height: 40%;
	margin: 0;
  -webkit-filter: grayscale(.7);
svg {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		fill: white;
	}
}
#mp_hm__background-gradient {
	height: 100%;
}

#mp_hm__name {
	position: absolute;
	top: 10px;
	img {
		display: block;
		margin: 0 auto;
		height: 45px;
	}
}	
.section_title {
	margin: 40px auto 100px;
	color: transparent;
	background-image: url('../imgs/frantic2.jpg');
	background-attachment: fixed;
	-webkit-background-clip: text;
	@include rem(70);;
	text-align: center;
  border: 3px solid black; 
  padding: 20px;
  max-width: 200px;
	+ img {
		display: block;
    margin: 0 auto 20px;
	}
}
#welcome {
  h1, h3, p {
    text-align: center;
  }
  h1 {
    margin-bottom: 40px;
    color: darkgray;
  }
}

#mp_hm__welcome-links a {
  text-align: center;
	@include rem(38);;
  border: 2px solid darkgray;
  margin: 10px;
  display: block;
}